1D/*.DS_Store
2D/*.DS_Store
Single_logistic_map/*.DS_Store
Coupled_Tent_Maps/1D/*.mat
Coupled_Tent_Maps/1D/*.csv
Coupled_Tent_Maps/1D/*.asv
Coupled_Tent_Maps/1D/*.DS_Store
Coupled_Tent_Maps/1D/saved_images/*.DS_Store
Coupled_Tent_Maps/1D/saved_images/*.eps
Coupled_Tent_Maps/1D/saved_images/*.fig
Coupled_Tent_Maps/1D/saved_images/*.jpg
1D/*.asv
2D/*.asv
1D/*.mp4
2D/*.mp4
*.fig
*.png
*.mp4
*.asv
*.jpeg
main/data/*.mat
main/media/*.jpg
main/media/*.eps
main/media/*.fig
main/media/*.png
main/media/*.mp4
main/*.asv
main/media/*.jpeg

.DS_Store

main/*.DS_Store
src/*.DS_Store
