*.fig
*.png
*.mp4
*.asv
*.jpeg
main/data/*.mat
main/media/*.jpg
main/media/*.svg
main/media/*.eps
main/media/*.fig
main/media/*.png
main/media/*.mp4
main/*.asv
main/media/*.jpeg
main/*.svg
main/*.mp4
main/*.mat
main/*.jpg
main/*.png
tests/*.asv
tests/*.mat
tests/*.jpg
tests/*.fig
tests/*.svg
tests/*.mp4
src/*.asv
src/*.mat
src/*.jpg
src/*.svg
src/*.mp4

.DS_Store

main/*.DS_Store
src/*.DS_Store
tests/*.DS_Store
